.categories{
    width:90%;
    margin:130px auto;

    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:35px;
}

.category-card{

    background:#F5F6FA;

    border-radius:25px;

    text-align:center;

    padding:80px 20px 35px;

    position:relative;

    transition:.4s;

    cursor:pointer;

    overflow:visible;

}

.category-card:hover{

    transform:translateY(-10px);

    box-shadow:0 20px 50px rgba(0,0,0,.12);

}

.category-image{

    width:210px;

    position:absolute;

    top:-95px;

    left:50%;

    transform:translateX(-50%);

    transition:.4s;

}

.category-card:hover .category-image{

    transform:translateX(-50%) scale(1.08);

}

.category-card h3{

    margin-top:35px;

    font-size:24px;

    color:#222;

    letter-spacing:2px;

}

.category-card button{

    margin-top:20px;

    background:none;

    border:none;

    color:#6C63FF;

    font-weight:bold;

    font-size:16px;

    cursor:pointer;

    transition:.3s;

}

.category-card button:hover{

    color:#4B3DFF;

}

@media(max-width:900px){

.categories{

grid-template-columns:1fr;

gap:120px;

}

}